<%= turbo_frame_tag dom_id(@bubble, :date_picker) do %>
  <% if @bubble.due_on.present? %>
    <%= form_with model: @bubble, url: bucket_bubble_path(@bubble.bucket, @bubble), data: { controller: "form", turbo_frame: "_top" } do |form| %>
      <label class="bubble__bubble bubble__meta bubble__date">
        <%= html_escape @bubble.due_on.strftime("%b <br> %d").html_safe %>
        <%= form.date_field :due_on, class: "input input--hidden", data: { action: "change->form#submit click->form#showPicker" } %>
        <span class="for-screen-reader">Change the due date</span>
      </label>
    <% end %>
  <% end %>
<% end %>
